/* ------------------------------------------------------------------------

  Start Global CSS / Variables

------------------------------------------------------------------------*/

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Generals */

html {
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-tertiary);
}

h1 {
  font-size: 2rem;
}

/* Colors */

:root {
  --primary-color: #ff7900;
  --secondary-color: #0451de;
  /* --tertiary-color: #0056d2; */
  --grey: #f0f0f0;
  --white: #ffffff;
  --dark: #000000;
}

.bg-custom {
  background-color: #0451de;
  height: 100%;
}

/* Numbers */

:root {
  --primary-radius: 10px;
  --secondary-radius: 5px;
}

/* Fonts */

:root {
  --font-primary: Arial-Regular;
  --font-secondary: Arial-Ligth;
  --font-tertiary: Arial-Bold;
  --font-quaternary: Arial-Black;
  /* --font-quinary: Quicksand-Bold;
  --font-senary: Quicksand-Medium;
  --font-septenary: Quicksand-Light; */
}

/* Typography */

:root {
  --font-size-small: 0.75rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-extra-large: 1.5rem;
  --font-size-extra-extra-large: 5rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height-small: 1.25;
  --line-height-medium: 1.5;
  --line-height-large: 2;
}

/* Shadows */

:root {
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
}

/* Z-Index */

:root {
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
}

/* Transitions */

:root {
  --transition-duration: 0.3s;
  --transition-easing: ease-in-out;
}

/* Breakpoints */

:root {
  --breakpoint-small: 640px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1024px;
  --breakpoint-xlarge: 1280px;
}

/* Media Queries */

/* @media (min-width: 640px) {
  :root {
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-extra-large: 1.5rem;
    --line-height-small: 1.25;
    --line-height-medium: 1.5;
    --line-height-large: 2;
  }
} */

@font-face {
  font-family: Arial-Black;
  src: url("/fonts/Arial/Arial-Black.TTF") format("truetype");
}

@font-face {
  font-family: Arial-Bold;
  src: url("/fonts/Arial/Arial-Bold.TTF") format("truetype");
}

@font-face {
  font-family: Arial-Ligth;
  src: url("/fonts/Arial/Arial-Ligth.TTF") format("truetype");
}

@font-face {
  font-family: Arial-Regular;
  src: url("/fonts/Arial/Arial-Regular.TTF") format("truetype");
}

/* ------------------------------------------------------------------------

  End Global CSS / Variables

------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------

  Start Commun CSS

------------------------------------------------------------------------*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-grey {
  color: var(--grey);
}

.text-white {
  color: var(--white);
}

.text-dark {
  color: var(--dark);
}

/* Buttons */
.btn {
  padding: 1rem 1rem;
  border-radius: var(--secondary-radius);
  font-size: var(--font-size-medium);
  /* font-weight: var(--font-weight-bold); */
  line-height: var(--line-height-medium);
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-easing);
  font-family: var(--font-primary);
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease, color 0.3s ease;
}

/* .btn:hover {
  transform: scale(1.1);
  background-color: #ff6f61; 
  color: #fff; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
} */

/* .btn-primary {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--white);
} */

/* Bouton spécifique .btn-primary */
/* .btn-primary:hover {
  background-color: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  box-shadow: 0 4px 10px var(--primary-color);
} */

.btn-primary {
  background: var(--primary-color);
  color: var(--white);
  /* font-size: 15px; */
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--white);
}

.btn-contact {
  background: var(--secondary-color);
  color: var(--white);
  width: 100%;
  padding: 0.7rem;
}

/* Bouton spécifique .gb-grey */
.gb-grey:hover {
  background-color: #333; /* Changement de fond à une couleur plus foncée */
  color: #fff;
  transform: rotate(-5deg); /* Inclinaison de 5° */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Fonts */

.regular {
  font-family: var(--font-primary);
}

.ligth {
  font-family: var(--font-secondary);
}

.bold {
  font-family: var(--font-tertiary);
}

.black {
  font-family: var(--font-quaternary);
}

.gb-grey {
  background-color: var(--grey);
}
/* ------------------------------------------------------------------------

  End Commun CSS

------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------

  Start Home Menu

------------------------------------------------------------------------*/

.home-menu-center-items {
  background-color: var(--grey);
  border-radius: var(--primary-radius);
}

/* Effet de hover pour les liens dans le menu */
a:hover {
  color: var(--primary-color); /* Changer la couleur des liens */
  /* text-decoration: underline wavy var(--secondary-color); Ligne ondulée sous le lien */
  text-decoration: none;
}

/* ------------------------------------------------------------------------

  Start Home Menu

------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------

  Start Home Banner

------------------------------------------------------------------------*/

.home-banner {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mx-6 {
  position: relative;
  z-index: 1;
}
/* 
.banner-content {
  background-color: red;
  height: 100%;
}

.banner-content-items {
  align-items: center;
} */

/* ------------------------------------------------------------------------

  Start Home Banner

------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------

  Start After Banner

------------------------------------------------------------------------*/

.full-bg {
  background: url("/public/file2.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
}
/* .title {
  font-size: var(--font-size-extra-extra-large);
} */

/* .sub-title {
  font-size: var(--font-size-extra-large);
} */

/* Animation pour le titre */
.title {
  font-size: var(--font-size-extra-extra-large);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: var(--font-size-extra-large);
  }
  .sub-title {
    font-size: var(--font-size-large);
  }
}

.anim-title {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .title:hover {
  /* transform: translateY(-10px); Légère montée au survol 
  color: var(--primary-color); * Changement de couleur *
} */

/* Animation pour le sous-titre */
.sub-title {
  font-size: var(--font-size-extra-large);
}

.anim-sub-title {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s 0.5s ease-out forwards; /* Délai d'animation pour l'effet en chaîne */
}

.sub-title:hover {
  transform: translateY(0);
  /* color: var(--primary-color); */
}

.after-banner {
  background: linear-gradient(#0451de, #66666677, #0451de);
  width: 100%;
  /* padding: 40px 0; */
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; */
  /* gap: 5rem; */
  /* height: 700px;
  width: 1000px;
  justify-content: center;
  align-items: center; */
}

.card {
  /* justify-content: center;
  align-items: center; */
  background-color: #ffffff0f;
  border-radius: var(--primary-radius);
  padding: 2rem;
  border: var(--white) solid 1px;
  font-size: var(--font-size-extra-large);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 21rem;
  height: 20rem;
  opacity: 0; /* Commence invisible */
  animation: fadeIn 1s 1s ease-out forwards; /* L'animation de la carte commence après un délai */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 30px #00000024;
  background-color: #ffffff1f; /* Légèrement plus clair au survol */
}

.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card h3 {
  transition: color 0.3s ease;
}

.card:hover h3 {
  color: var(--primary-color); /* Changement de couleur au survol */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  transition: left 0.5s ease;
}

.card:hover::before {
  left: 100%;
}

/* Effet sur la flèche */
.card img[alt="arrow"] {
  transition: transform 0.3s ease;
}

.card:hover img[alt="arrow"] {
  transform: translateX(10px);
}

/* ------------------------------------------------------------------------

  End After Banner

------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------

  Start Home contact

------------------------------------------------------------------------*/

.home-contact {
  background: linear-gradient(#ff7b0062, #ff7b0073);

  width: 100%;
}

.card {
  background-color: #ffffff0f;
  border-radius: var(--primary-radius);
  padding: 2rem;
  border: var(--white) solid 1px;
  font-size: var(--font-size-extra-large);
}

.contact-input {
  border: #00000076 solid 1px;
  background-color: #00000014;
  border-radius: var(--primary-radius);
  width: 100%;
}

.contact-items {
  align-items: center; /* Aligne les éléments verticalement */
  justify-items: center; /* Aligne les éléments horizontalement */
}

.contact-left-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------------------------------

  End Home contact

------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------

  Start Home Donation

------------------------------------------------------------------------*/

/* .home-donation {
  background: linear-gradient(#fd476e6b, #fd476e3c);

  width: 100%;
} */

.home-donation img {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------------------------

  End Home Donation

------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------

  Start Home Footer

------------------------------------------------------------------------*/

.footer-items {
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* gap: 5rem; */
}

.footer {
  background: url("/assets/images/png/footer-bg.png") no-repeat center center;
  background-size: cover;
}

/* Animation d'orbite */
@keyframes orbit {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(15px, 0);
  }
  75% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-orbit {
  animation: orbit 3s infinite ease-in-out;
}

/* ------------------------------------------------------------------------

  End Home Footer

------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------

  Start Perfect Research

------------------------------------------------------------------------*/

.research-page {
  /* background: url("/assets/images/webp/full-bg.webp") no-repeat center center; */
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.research-page-all-items {
  /* background: linear-gradient(#ff7b0046, #ff7b0030); */
  /* background: linear-gradient(#fd476e56, #fd476e2f); */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Animation de texte  */

@keyframes typewriter {
  0% {
    width: 0;
  }
  40%,
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blinkCursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typewriter 8s steps(50, end) infinite,
    blinkCursor 0.75s step-end infinite;
}

/* ------------------------------------------------------------------------

  End Perfect Chat

------------------------------------------------------------------------*/
