/* Utilisation des variables CSS définies dans :root */
.sider-bar {
  background-color: ffffff; /* Fond de la sidebar */
  padding: 20px; /* Padding pour la sidebar */
  width: 300px; /* Largeur de la sidebar */
  /* min-height: 100vh; */
  box-shadow: var(--shadow-medium); /* Ombre portée */
  border-radius: 10px;
}

.sider-bar h2 {
  /* color: var(--white);  */
  font-family: var(--font-primary); /* Police Righteous */
  font-weight: var(--font-weight-bold); /* Texte en gras */
  margin-bottom: 20px; /* Espacement sous le titre */
}

/* Styles pour les éléments de menu */
.sider-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: var(--primary-radius); /* Bord arrondi */
  transition: background-color var(--transition-duration)
      var(--transition-easing),
    color var(--transition-duration) var(--transition-easing);
}

/* Effet de survol pour les grandes options */
.sider-item:hover,
.sider-item:hover .text-black {
  background-color: var(--tertiary-color) !important;
  color: #0EA5E9 !important; /* Texte blanc au survol */
  transition: background-color var(--transition-duration)
      var(--transition-easing),
    color var(--transition-duration) var(--transition-easing);
}

/* Styles pour les sous-options */
.sider-item ul li div {
  color: var(--primary-color); /* Texte en couleur primaire par défaut */
  transition: background-color var(--transition-duration)
      var(--transition-easing),
    color var(--transition-duration) var(--transition-easing);
}

.sider-item ul li div:hover {
  background-color: var(--tertiary-color); /* Fond bleu au survol */
  color: var(--white) !important; /* Texte blanc au survol */
}

/* Cercle pour les sous-éléments */
.sider-item .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--transition-duration)
    var(--transition-easing);
}

.sider-item.selected .circle {
  background-color: var(--white); /* Cercle plein pour l'élément sélectionné */
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-tertiary-color:hover {
  background-color: var(--tertiary-color) !important;
}
